<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JF Pericía Contábil | Perícia Contábil em Pedro Leopoldo</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="/resources/css/brands.css">
    <link rel="stylesheet" href="/resources/css/solid.css">
    <link rel="stylesheet" href="/resources/css/mainStyle10.css">
    <link rel="stylesheet" href="/resources/css/aos.css">
    <link rel="stylesheet" href="/resources/css/animated.css">
    <script src="/resources/js/jquery.min.js"></script>
</head>
<body class="bg-white">

<header style="background-image: url(../resources/img/wallpaperflare.com_wallpaper.jpg); background-size: cover; height: 650px; background-attachment: fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar d-none d-sm-block">
                <nav class="nav" style="font-size: 20px">
                    <span class="text-white py-3 ml-5 mr-5 font-weight-bold">Pedro Leopoldo - MG</span>
                    <span class="text-white py-3 font-weight-bold"><i class="fas fa-location-arrow ml-5 pr-2">
    </i>Edifício Levy Teixeira R. Dr. Cristiano Otoni, 270 - Sala: 212</span>
                    <span class="text-white py-3">
        <i class="fas fa-clock ml-5 pr-2"></i> Terça - Sexta 9:00 - 17:00</span>
                    <span class="text-white font-weight-bold py-3"><i class="fas fa-phone-square-alt ml-5 pr-2"></i>(031) 3665-0295</span>
                </nav>
            </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
               <nav class="navbar navbar-expand-lg navbar-light">
                   <a class="navbar-brand" href="/">
                       <img src="../resources/img/logo.png" alt="logo" class="ml-auto">
                   </a>
                   <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="menu">
                       <ul class="navbar-nav mx-auto">
                           <li class="nav-item" style="border-bottom: 3px solid black">
                               <a class="nav-link text-white" href="/">Pagina Inicial</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link text-white" href="/sobre-jfpericia">Sobre</a>
                           </li>

                           <li class="nav-item">
                               <a class="nav-link text-white" href="/jf-pericia-contabil-servicos">Nossos Serviços</a>
                           </li>

                           <li class="nav-item">
                               <a class="nav-link text-white" href="/contato">Contato</a>
                           </li>
                       </ul>
                   </div>
               </nav>
           </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5%" id="header_texto">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <h1 class="display-3 text-center text-light">Cálculos judiciais, Assistências técnicas para empresas e escritórios de advocacia</h1>
                <h2 class="pt-4 text-light">Realizamos treinamento no sistema PJe Calc</h2>
            </div>
            <div class="d-flex">
                <button class="btn btn-danger mx-auto btn-lg">saiba mais</button>
            </div>
        </div>
    </div>
</header>