<section id="about_us" class="my-5 bg-white">
    <div class="container">
       <div class="row">
           <div class="col-lg-8 col-12">
               <h4 class="font-weight-lighter">A Jf Pericia</h4>
               <div class="text-center">
                   <h5 class="text-center p-3">A Jf é composta por profissionais da área
                       contábil que buscam através da técnica, experiência e conhecimento,
                       o atendimento diferenciado, além de garantir os resultados das análises com
                       excelência. Com registro nos Órgãos competentes (CRC-MG e CNPC), apresenta
                       como principais especialidades os cálculos judiciais e as assistências técnicas
                       para empresas e escritórios de advocacia.</h5>
               </div>
           </div>
           <div class="col-lg-4 col-12">
             <div class="row">
                 <div class="col-lg-12 col-6">
                     <img src="../resources/img/header-services.jpg" alt="es" class="img-fluid img-thumbnail">
                 </div>
                 <div class="col-lg-12 col-6">
                     <img src="../resources/img/services-header.jpg" alt="es" class="img-fluid img-thumbnail">
                 </div>
             </div>
           </div>
       </div>
    </div>
</section>

<section id="diferencial" class="bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-center d-flex LeftSide" data-aos="fade-up-right" data-aos-duration="1000">
                  <div class="my-auto">
                      <h1 class="display-2 text-light">Diferencial</h1>
                      <h2 class="text-dark">
                          Contamos com um atendimento diferenciado, buscamos trânsparencia
                          nas relações com os clientes e parceiros. Equipe altamente qualificada.
                      </h2>
                  </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="row">
                      <div class="col-md-6">
                          <div class="card p-5 bg-light">
                              <div class="card-img-top text-center pb-3">
                                  <i class="fas fa-star fa-2x"></i>
                              </div>
                              <h5 class="text-center text-dark pb-2">Excelência</h5>
                              <p class="text-center text-dark font-weight-light">
                                  No atendimento e na prestacao de servicos
                              </p>
                          </div>
                      </div>
                       <div class="col-md-6">
                           <div class="card p-5 bg-light">
                               <div class="card-img-top text-center pb-3">
                                   <i class="fas fa-heart fa-2x"></i>
                               </div>
                               <h5 class="text-center text-dark pb-2">Profissionalismo</h5>
                               <p class="text-center text-dark font-weight-light">
                                   No atendimento e na prestacao de servicos
                               </p>
                           </div>
                       </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <div class="card p-5 bg-light">
                            <div class="card-img-top text-center pb-3">
                                <i class="fas fa-gem fa-2x"></i>
                            </div>
                            <h5 class="text-center text-dark pb-2">Excelencia</h5>
                            <p class="text-center text-dark font-weight-light">
                                No atendimento e na prestacao de servicos
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-5 bg-light">
                            <div class="card-img-top text-center pb-3">
                                <i class="fas fa-rocket fa-2x"></i>
                            </div>
                            <h5 class="text-center text-dark pb-2">Excelencia</h5>
                            <p class="text-center text-dark font-weight-light">
                                No atendimento e na prestacao de servicos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid my-5 bg-white" id="quick_contact">
        <div class="row">
            <div class="col-lg-6 text-dark d-flex" data-aos="fade-down-right" data-aos-duration="1000">
               <div class="my-auto text-center">
                   <h2>Ligue (31) 3665-0295</h2>
                   <span>
                       Contamos com um atendimento diferenciado, buscamos trânsparencia
                       nas relações com os clientes e parceiros. Equipe altamente qualificada.
                   </span>
               </div>
            </div>
            <div class="col-lg-6 text-white d-flex" data-aos="fade-down-left" data-aos-duration="1000" style="height: 300px; background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);">
                <div class="mx-auto my-auto text-dark">
                    <h2 class="text-white">Treinamento PJe Calc.</h2>
                    <p class="text-white text-center">saiba mais ...</p>
                    <p class="text-center text-success">entre em contato</p>
                    <a href="https://api.whatsapp.com/send?phone=5531999213122&text=ol%C3%A1%20%2C%20quero%20saber%20mais%20sobre%20o%20treinamento%20PJe%20Calc" target="_blank">
                        <img src="../resources/img/icons8-whatsapp.svg"
                   alt="whatsapp" class="d-block w-25 mx-auto"></a>
                </div>
            </div>
        </div>
</div>