<section id="about_us" class="p-5">
    <div class="row">
        <div class="container">
            <div class="py-5 text-center">
                <div class="overlay">
                   <div class="row">
                       <div class="col-lg-9 col-12" data-aos="fade-right" data-aos-duration="1000">
                           <h4 class="text-center">A Jf é composta por profissionais da área contábil que buscam através da técnica, experiência e conhecimento, o atendimento diferenciado, além de garantir os resultados das análises com excelência. Com registro nos Órgãos competentes (CRC-MG e CNPC), apresenta como principais especialidades os cálculos judiciais e as assistências técnicas para empresas e escritórios de advocacia.</h4>
                       </div>
                       <div class="col-lg-3 col-12" data-aos="fade-left" data-aos-delay="1000">
                           <img src="/resources/img/robot.jpg" alt="robot"
                                class="w-100">
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="diferencial" class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-center d-flex LeftSide" data-aos="fade-up-right" data-aos-duration="1000">
                  <div class="my-auto">
                      <h2 class="display-4">Diferencial</h2>
                      <span class="lead text-white">
                          Contamos com um atendimento diferenciado, buscamos trânsparencia
                          nas relações com os clientes e parceiros. Equipe altamente qualificada.
                      </span>
                  </div>
            </div>
            <div class="col-lg-6 py-3" data-aos="fade-up-left" data-aos-duration="1000">
                <div class="row">
                      <div class="col-md-6 col-12">
                          <div class="card p-5">
                              <div class="card-img-top text-center pb-3">
                                  <i class="fas fa-star fa-2x"></i>
                              </div>
                              <h5 class="text-center text-dark pb-2">Excelência</h5>
                              <p class="text-center text-dark font-weight-light">
                                  No atendimento e na prestacao de servicos
                              </p>
                          </div>
                      </div>
                       <div class="col-md-6 col-12">
                           <div class="card p-5">
                               <div class="card-img-top text-center pb-3">
                                   <i class="fas fa-heart fa-2x"></i>
                               </div>
                               <h5 class="text-center text-dark pb-2">Profissionalismo</h5>
                               <p class="text-center text-dark font-weight-light">
                                   No atendimento e na prestacao de servicos
                               </p>
                           </div>
                       </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <div class="card p-5">
                            <div class="card-img-top text-center pb-3">
                                <i class="fas fa-gem fa-2x"></i>
                            </div>
                            <h5 class="text-center text-dark pb-2">Excelencia</h5>
                            <p class="text-center text-dark font-weight-light">
                                No atendimento e na prestacao de servicos
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-5">
                            <div class="card-img-top text-center pb-3">
                                <i class="fas fa-rocket fa-2x"></i>
                            </div>
                            <h5 class="text-center text-dark pb-2">Excelencia</h5>
                            <p class="text-center text-dark font-weight-light">
                                No atendimento e na prestacao de servicos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid my-5 bg-light" id="quick_contact">
        <div class="row">
            <div class="col-lg-6 text-dark d-flex" data-aos="fade-down-right" data-aos-duration="1000" style="height: 300px">
               <div class="my-auto text-center">
                   <h2>Ligue (31) 3665-0295</h2>
                   <span>
                       Contamos com um atendimento diferenciado, buscamos trânsparencia
                       nas relações com os clientes e parceiros. Equipe altamente qualificada.
                   </span>
               </div>
            </div>
            <div class="col-lg-6 text-white d-flex" data-aos="fade-down-left" data-aos-duration="1000" style="height: 300px;     background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);">
                <div class="mx-auto my-auto text-dark">
                    <h2 class="text-white">Treinamento PJe Calc.</h2>
                    <p class="text-white text-center">saiba mais ...</p>
                    <p class="text-center text-success">entre em contato</p>
                    <a href="https://api.whatsapp.com/send?phone=5531999213122&text=ol%C3%A1%20%2C%20quero%20saber%20mais%20sobre%20o%20treinamento%20PJe%20Calc" target="_blank">
                        <img src="../resources/img/icons8-whatsapp.svg"
                   alt="whatsapp" class="d-block w-25 mx-auto"></a>
                </div>
            </div>
        </div>
</div>