<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JF Pericía Contábil | Perícia Contábil em Pedro Leopoldo</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="/resources/css/brands.css">
    <link rel="stylesheet" href="/resources/css/solid.css">
    <link rel="stylesheet" href="/resources/css/mainStyle10.css">
    <script src="/resources/js/jquery.min.js"></script>
</head>
<body class="bg-white">

<header style="background-image: url(../resources/img/wallpaperflare.com_wallpaper.jpg); background-size: cover; height: 450px">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar d-none d-sm-block">
                <nav class="nav" style="font-size: 20px">
                    <span class="text-white py-3 ml-5 mr-5 font-weight-bold">Pedro Leopoldo - MG</span>
                    <span class="text-white py-3 font-weight-bold"><i class="fas fa-location-arrow ml-5 pr-2">
    </i>Edifício Levy Teixeira R. Dr. Cristiano Otoni, 270 - Sala: 212</span>
                    <span class="text-white py-3">
        <i class="fas fa-clock ml-5 pr-2"></i> Terça - Sexta 9:00 - 17:00</span>
                    <span class="text-white font-weight-bold py-3"><i class="fas fa-phone-square-alt ml-5 pr-2"></i>(031) 3665-0295</span>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <img src="../resources/img/logo.png" alt="logo" class="w-50 ml-auto">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item" style="border-bottom: 3px solid black">
                                <a class="nav-link text-white" href="/sobre-jfpericia">Sobre</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/jf-pericia-contabil-servicos">Nossos Serviços</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/contato">Contato</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5%">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <h1 class="display-3 text-center text-light">A Jf Perícia contábil</h1>
            </div>
            <div class="d-flex">
                <h4 class=" font-weight-bold mx-auto" style="color: black">sobre nós</h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid bg-white">
    <div class="row justify-content-center">
        <img src="/resources/img/Screen%20Shot%202019-11-13%20at%209.45.00%20PM.png"
             alt="logo" class="d-block w-40">
        <div class="col-lg-10 bg-white d-flex">
            <h3 class="font-weight-lighter text-center mb-5 mx-auto px-5" style="line-height: 50px">
                Criada e administrada por Jéssica Bispo, bacharel em Ciências Contábeis pela Fundação
                Pedro Leopoldo, a JF é composta por profissionais da área contábil que buscam, através da
                técnica, experiência e conhecimento, o atendimento diferenciado, além de garantir os
                resultados das análises com excelência.
                Com registro nos orgãos competentes (CRC-MG e CNPC), apresenta como principais
                especialidades os cálculos judiciais e as assistências técnicas para empresas e escritórios de
                advocacia. Possui também as experiências de: Perícia Oficial do Juízo e Assistência Técnica
                nas àreas Cível, Trabalhista e Federal.
            </h3>
        </div>
    </div>
</div>

<section class="bg-white mb-5 pb-5">
    <div class="container"  id="sobre_servicos">
        <div class="pt-5 mb-5 text-center">
            <h1>Nosso Serviços</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card p-3" style="background-color: #42378f; background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);">
                    <div class=" border-0 text-center">
                        <h2 class="card-title text-white">Cálculos judiciais</h2>
                        <hr>
                    </div>
                    <div class="card-body h4">
                        <div class="text-white text-center">
                            <h3>Assistências técnicas para empresas e escritórios de advocacia</h3>
                            <i class="fas fa-phone"></i>
                            <span class="h5">(31) 3665-0295</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card  p-3" style="background-color: #42378f;
    background-image: linear-gradient(-315deg, #42378f 0%, #f53844 74%);">
                    <div class=" border-0">
                        <h2 class="card-title text-white text-center">Treinamento</h2>
                        <hr>
                    </div>
                    <div class="card-body">
                        <div class="text-white text-center">
                            <h2>PJe Calc. para advogados</h2>
                            <h5>entre em contato</h5>
                            <i class="fab fa-whatsapp fa-2x"></i>
                            <span class="h5">(31) 99921-3122</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
