<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JF Pericía Contábil | Perícia Contábil em Pedro Leopoldo</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="/resources/css/brands.css">
    <link rel="stylesheet" href="/resources/css/solid.css">
    <link rel="stylesheet" href="/resources/css/mainStyle2.css">
    <script src="/resources/js/jquery.min.js"></script>
</head>
<body class="bg-light">

<div class="carousel slide carousel-fade" id="sliders" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 500px">
            <div class="img-overlay">
                <img src="/resources/img/segundo_slider.jpg" class="img-fluid pt-4" style="height: 500px; width: 100%" alt="jf pericia">

                <div class="carousel-caption text-white pt-5" style="height: 500px;">
                    <div class="pt-5" style="margin-top: 20%">
                        <h1 class="text-uppercase">A Jf perícia contábil</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="nav fixed-top bg-dark" style="background-color: transparent">
    <span class="text-white py-3 ml-5 mr-5">Pedro Leopoldo - MG</span>
    <span class="text-white py-3"><i class="fas fa-location-arrow ml-5 pr-2">
    </i>Edifício Levy Teixeira R. Dr. Cristiano Otoni, 270 - Sala: 212</span>
    <span class="text-white py-3">
        <i class="fas fa-clock ml-5 pr-2"></i> Terça - Sexta 9:00 - 17:00</span>
    <span class="text-white py-3"><i class="fas fa-phone-square-alt ml-5 pr-2"></i>(031) 3665-0295</span>
</nav>

<nav class="fixed-top" id="logo">
    <div class="row">
        <div class="col-md-4">
            <img src="/resources/img/logo.png" alt="logo" class="d-block w-50">
        </div>
    </div>
</nav>

<nav class="nav fixed-top ml-auto p-2" style="margin-top: 7%; width: 50%;">
    <ul class="nav ml-auto font-weight-bold">
        <li class="nav-item"><a href="/" class="text-white nav-link">Início</a></li>
        <li class="nav-item"><a href="/sobre-jfpericia" class="text-white nav-link">Sobre</a></li>
        <li class="nav-item"><a href="/" class="text-white nav-link">Serviços</a></li>
        <li class="nav-item"><a href="/" class="text-white nav-link">Treinamento PJe Calc</a></li>
        <li class="nav-item"><a href="/" class="text-white nav-link">Contato</a></li>

    </ul>
</nav>

<div class="container-fluid bg-white">
    <div class="row justify-content-center">
        <img src="/resources/img/Screen%20Shot%202019-11-13%20at%209.45.00%20PM.png"
             alt="logo" class="d-block w-20">
        <div class="jumbotron bg-white d-flex">
            <h3 class="font-weight-lighter text-center my-auto mx-auto p-4" style="line-height: 50px">
                Criada e administrada por Jéssica Bispo, bacharel em Ciências Contábeis pela Fundação
                Pedro Leopoldo, a JF é composta por profissionais da área contábil que buscam, através da
                técnica, experiência e conhecimento, o atendimento diferenciado, além de garantir os
                resultados das análises com excelência.
                Com registro nos orgãos competentes (CRC-MG e CNPC), apresenta como principais
                especialidades os cálculos judiciais e as assistências técnicas para empresas e escritórios de
                advocacia. Possui também as experiências de: Perícia Oficial do Juízo e Assistência Técnica
                nas àreas Cível, Trabalhista e Federal.
            </h3>
        </div>
    </div>
</div>