
.bg-dark{
    background-color: black;
}

#logo{
    margin-top: 5%;
}

#sliders .img-overlay{
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    width: 100%;
    height: 100%;
    opacity: 1;
}
#sliders img{
    opacity: 0.3;
}

#about_us h4{
    line-height: 200%;
    font-weight: lighter;
    color: black;
}

#diferencial p{
    line-height: 20px;
    font-weight: bold;
}

#diferencial .card{
    background-color: white;
}

#diferencial .card:hover{
    opacity: 0.8;
}

#diferencial .LeftSide{
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}

